body {
  background-image: url("https://www.svgrepo.com/show/129178/hot-dog.svg");
  background-size: 25%;
}

h1 {
  font-size: 48px;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 10px;
}

h2 {
  font-size: 14px;
  margin: 2px;
  margin-bottom: 0px;
}

h3 {
  margin-bottom: 10px;
}

h4 {
  margin: auto;
}

ul {
  margin-bottom: 40px;
}

.job-info {
  padding: 1px 15px 20px;
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(9,9,121,0) 5%, rgba(255,196,241,.8) 15%);
  filter: drop-shadow(2px 2px 1px gray);
}

.clipped {
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 80%;
    width: 200px;
    height: 100px;
}

.position-box{
  top: 80%;
  background-color: green;
  margin: auto;
  padding: 0px 10px;
}

.fixed-box {
  position: fixed;
  right: -50px;
}

.absolute-box {
  position: absolute;
  top: 0%;
  right: -60px;
}

.flavors {
  font-family: Flavors, cursive;
}

.no-display {
  font-size: 0px;
}


#container {
  background-color: rgba(200, 250, 200, .98);
  padding: 10px 15% 10px 15%;
  margin: 10px 10%;
  border-radius: 20px;
}


#experience-title {
  font-size: 34px;
  margin-top: 10px;
}

#about-me {
  width: auto;
}

@media (max-width: 480px) {

  h1 {
    font-size: max(10vw, 24px);
  }

  .content-contact {
    text-align: center;
  }

  .clipped {
    display: none;
  }

  #experience-title {
    text-align: center;
    font-size: max(8vw, 20px);
  }

  #container {
    width: 100vw;
    margin: 0px;
    border-radius: 0px;
    padding-left: 1px;
    padding-right: 1px;
  }
}
